.card {
  width: 300px;
  height: 570px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
}
.card-img > img {
  height: 286px;
  width: 286px;
  border-radius: 8px;
  margin: 7px;
}
.card-body {
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.card-body > p {
  font-size: 18px;
  font-weight: 400;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tutorial {
  text-decoration: none; 
  border: 2px solid #5463ff;
  background-color: aliceblue;
  color: #5463ff;
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}
.tutorial:hover {
  transition: ease-in-out 0.5s;
  border: 2px solid #5463ff;
  background-color: #5463ff;
  color: aliceblue;
}
.tag {
  color: #292c6d;
  text-decoration: underline;
  font-weight: bold;
}
.btn {
  border: none;
  background-color: #17c0eb;
  padding: 10px;
  border-radius: 50%;
  color: #192a56;
}
.btn:hover {
  background-color: #192a56;
  color: #17c0eb;
  transition: linear 0.5s;
}
