.summary{
    color: white;
    position: sticky;
    top: 0;
}
.border{
    text-decoration: underline;
}
.border > h2{
    text-align: center;
}
.summary-body{
    padding-left: 20px;
}
.lead{
    font-size: 19px;
    font-weight: 400;
}